#uhome{
    height: 750px;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/01/14/40/medicine-8287535_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 200px;  
}

#hh{
    margin-left: 480px;    
    margin-right: 480px;
    background-color: #45444492;  
}

#bt{
    height: 60px;
    width: 170px;
    background-color: rgb(167,149,125);
    border: none;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

#bt:hover{
    cursor: pointer;
    opacity: 0.8;
}
